﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="opony_klient.aspx.cs" Inherits="opony_klient" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <asp:SqlDataSource ID="SqlDataSource1" runat="server" SelectCommand="SELECT * from TIRES"></asp:SqlDataSource>
        <asp:GridView ID="TiresView" runat="server" DataSourceID="SqlDataSource1" AutoGenerateColumns="false" DataKeyNames="id">
            <Columns>
                
                <asp:BoundField DataField="width"  HeaderText="Długość"/>
                <asp:TemplateField>
                    <ItemTemplate>
                        <asp:Button ID="addButton" runat="server" Text="Button" OnClick="addButton_Click"/>
                    </ItemTemplate>
                    
                </asp:TemplateField>
            </Columns>
        </asp:GridView>










</asp:Content>